html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #343a40!important;
}

body {
  height: 100%
}

div {
  height: 100%
}

.center-module {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inner {
  height:auto;
}

h1 {
  font-size: 7em;
  margin: auto;
  font-weight: 400;
}
h6 {
  margin: auto;
  font-size:2em;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  font-weight: 400;
}

.icon {
  color: #343a40!important;
  padding: 3px 3px;
}

.icon:hover {
  color: #444a50!important;
}

@media (max-width: 500px){
    .inner {
      width: 100%;
    }
    h1 {
      font-size: 25vw;
    }
    h6 {
      font-size: 8vw;
    }
  } 
